.content__height {
    min-height: calc(100vh - 195px) !important;
}

.quote-container {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.quote-content {
    transition: opacity 0.5s ease-in-out;
}

.show-quote {
    opacity: 1;
}
.shadow-md-purple {
    box-shadow: 0 4px 6px -1px rgba(155, 89, 182, 0.1), 0 2px 4px -1px rgba(155, 89, 182, 0.06);
  }